* {
  font-family: "Open Sans", "Roboto",  Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", "Roboto",  Helvetica, sans-serif;
}

/* Navbar related content */

nav {
  background-color: white;
  z-index: 2;
  margin: 0;
}

.navbar-fixed-top {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 5px 6px -6px #222;
  padding-bottom: 10px;
}

.logo {
  height: 70px;
}

.nav-link {
  font-size: 0.80rem
}

/* Home related content */

.parallax {
  /* The image used */
  background-image: url("../img/homebackground.jpeg");

  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 149, 255, 0.34);
  transition: all .3s linear;
}

.parallax:hover:before { background: none; }