* {
  font-family: "Open Sans", "Roboto",  Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", "Roboto",  Helvetica, sans-serif;
}

body, html {
  height: 100%;
  /* box-sizing: border-box; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%
}

/* Navbar related content */

nav {
  background-color: white;
  z-index: 2;
  margin: 0;
}

.navbar-fixed-top {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 5px 6px -6px #222;
  padding-bottom: 10px;
}

.logo {
  height: 70px;
}

.nav-link {
  font-size: 0.80rem
}

/* Home related content */

.homepage {
  /* The image used */
  background-image: url("../img/background2.jpeg"); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* Set a specific height */
  height: 100%;
  width: 100%;
  background-position: 50% 0%;
  background-size: cover;
  position: absolute;
  z-index: 0;

  max-height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  transition: ease-out 1s;
}

.image h1 {
  color: white;
  text-align:center;
  margin-top: -200px;
  /* height: 200px; */
}

.image {
  padding-top: 56.7%;
  background: rgba(0, 149, 255, 0.34);
  transition: all .3s linear;
}

.image:hover {
  background: none; 
}

/* info sections */

.info {
  background-color: white;
  z-index: 1;
  padding: 20px;
  box-shadow: rgba(105,192,215,.43) 0px 2px 0px
}

.sectionhead {
  margin: 20px;
  color: rgba(42, 147, 189, 0.705);
}

.sectionhead2 {
  margin: 20px;
  color: rgba(255, 255, 255, 1);
}

.info--list li {
  color: rgba(0,0,0,.5);
  margin: 0 0 20px 0; 
  margin-top: 30px
}

.col-md-6.offset-md-3 {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.description p {
  color: rgba(0,0,0,.5);
}

.focus {
  background: linear-gradient(
    rgba(0, 149, 255, 0.34),
    rgba(0, 149, 255, 0.34)
  ),
    url("../img/focuspic.jpeg"); 
  background-attachment: absolute;
  background-repeat: no-repeat;
  width: 100%;
  /* background-position: 50% 0%; */
  background-size: cover;

  max-height: 100%;
  margin: 0;
  /* padding: 20px; */
}

.layer {
  background-color: rgba(0, 149, 255, 0.34);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.focus button {
  margin: 20px auto 20px; 
}

/* Card deck styling */

.card-deck .card {
  margin-left: 15px;
  margin-right: 15px;
}

.card-deck .card:not(:last-child) {
  margin-right: 15px;
}

.card-deck .card:not(:first-child) {
  margin-left: 15px;
}

.card-responsive {
  /* max-width: 1200px; */
  display: flex;
  flex-direction: row
}

.card-body {
  height: 200px
}

.card-text {
  /* height: 80px; */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* footer */

/* .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
} */

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  height: 100px;
  /* background-color: rgba(0, 149, 255, 0.34) */
  background-color: rgba(105, 192, 217, 0.76)
}

footer nav {
  position: absolute; 
  background-color: rgba(0, 149, 255, 0.34)
}

/* pipeline */

.pipeline {
  /* height: 500px; */
  margin-top: 150px;
  padding-left: 0px;
  padding-right: 0px
}

.pagehead {
  color: rgba(42, 147, 189, 0.705);
  margin-bottom: 60px
}

.descrip {
  color: rgba(0,0,0,.5)
}

.form-button button {
  margin: 20px auto 20px;
}

.head {
  color: rgba(42, 147, 189, 0.705);
}

.dme {
  background: linear-gradient(
    rgba(0, 149, 255, 0.34),
    rgba(0, 149, 255, 0.34)
  ),
    url("../img/happy2.png"); 
  background-attachment: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  /* background-position: 50% 0%; */
  background-size: cover;

  max-height: 100%;
  margin: 0;
  /* padding: 20px; */
}

.research {
  margin-top: 40px;
  /* box-shadow: 0 5px 6px -6px #222; */
}