* {
  font-family: "Open Sans", "Roboto",  Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", "Roboto",  Helvetica, sans-serif;
}

body, html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column
}

/* Navbar related content */

nav {
  background-color: white;
  z-index: 2;
  margin: 0;
}

.navbar-fixed-top {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 5px 6px -6px #222;
  padding-bottom: 10px;
}

.logo {
  height: 70px;
}

.nav-link {
  font-size: 0.80rem
}

/* Home related content */

.parallax {
  /* The image used */
  background-image: url("../img/background2.jpeg"); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* Set a specific height */
  height: 100%;
  width: 100%;
  background-position: 50% 0%;
  background-size: cover;

  max-height: 100%;
  margin: 0;
  padding: 0;
}

.parallax h1 {
  position: relative;
  color: rgba(255, 255, 255, 0.812);
  text-align: center;
  margin-top: 48%;
  height: 100px
}

.parallax:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 149, 255, 0.34);
  transition: all .3s linear;
}

.parallax:hover:before { 
  background: none; 
}

/* info sections */

.info {
  background-color: white;
  z-index: 1;
  padding: 20px;
  box-shadow: rgba(105,192,215,.43) 0px 2px 0px
}

.sectionhead {
  margin: 20px;
  color: rgba(42, 147, 189, 0.705);
}

.sectionhead2 {
  margin: 20px;
  color: rgba(255, 255, 255, 0.705);
}

.info--list li {
  color: rgba(0,0,0,.5);
  margin: 0 0 20px 0; 
  margin-top: 30px
}

.col-md-6.offset-md-3 {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.description p {
  color: rgba(0,0,0,.5);
}

.focus {
  background: linear-gradient(
    rgba(0, 149, 255, 0.34),
    rgba(0, 149, 255, 0.34)
  ),
    url("../img/focuspic.jpeg"); 
  background-attachment: absolute;
  background-repeat: no-repeat;
  /* Set a specific height */
  height: 100%;
  width: 100%;
  /* background-position: 50% 0%; */
  background-size: cover;

  max-height: 100%;
  margin: 0;
  /* padding: 20px; */
}

.layer {
  background-color: rgba(0, 149, 255, 0.34);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button {
  margin: 20px auto 20px; 
}

/* Card deck styling */

.card-deck .card {
  margin-left: 15px;
  margin-right: 15px;
}

.card-deck .card:not(:last-child) {
  margin-right: 15px;
}

.card-deck .card:not(:first-child) {
  margin-left: 15px;
}

.card-responsive {
  /* max-width: 1200px; */
  display: flex;
  flex-direction: row
}